<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>User | IssueTracking</title>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="right_col" User="main" layout:fragment="content">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>User</h3>
						</div>

						<div class="title_right">
							<div
								class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Search for..."> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										Detail User Information <small>Detail User</small>
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" User="button" aria-expanded="false"><i
												class="fa fa-wrench"></i></a>
											<ul class="dropdown-menu" User="menu">
												<li><a href="#">Settings 1</a></li>
												<li><a href="#">Settings 2</a></li>
											</ul></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>

								<div class="x_content">
									<div class="container">
										<div class="panel panel-default">
											<!-- 	<div class="panel-heading">Basic Form Elements</div> -->
											<div class="panel-body">
												<form action="#" th:object="${user}">
													<div class="row col-md-12">
														<div class="row col-md-4">
															<div class="form-group">
																<label class="control-label col-md-5 col-sm-3 col-xs-12">User
																	ID:</label><input type="text" class="form-control" id="userId"
																	th:value="*{userId}" name="userId" readonly>
															</div>
														</div>
													</div>
													<div class="row col-md-12">
														<div class="row col-md-4">
															<div class="form-group">

																<label class="control-label col-md-5 col-sm-3 col-xs-12"
																	for="username">User Name:</label> <input type="text"
																	class="form-control" id="User" th:value="*{username}"
																	name="username">
															</div>
														</div>
													</div>



													<div class="row col-md-12">
														<div class="row col-md-4">
															<div class="form-group">
																<label class="control-label col-sm-1" for="createby">Roles:</label>
																<select class="form-control">
																	<option>Choose Roles:</option>
																	<option th:each="r : ${user.roles}"
																		th:value="${r.roleid}" th:text="${r.role}">USER</option>
																</select>
															</div>
														</div>
													</div>
													<div class="form-group">

														<!-- <div class="col-sm-4">
															<span th:each="r: ${user.roles}" th:text="${r.role}"
																class="label label-success"></span>
														</div> -->
														<!-- <div class="row col-md-4">
															<div class="form-group">
																<select class="form-control">
																	<option>Choose Roles:</option>
																	<option th:each="r : ${user.roles}"
																		th:value="${r.roleid}" th:text="${r.role}">USER</option>

																</select> 
															</div>
														</div> -->
													</div>
													<div class="row col-md-12">
														<div class="row col-md-4">
															<div class="form-group">
																<label class="control-label col-md-5 col-sm-3 col-xs-12"
																	for="createby">Create By:</label> <input type="text"
																	class="form-control" id="createby"
																	th:value="*{createBy}" name="createby">
															</div>
														</div>
													</div>
													<div class="row col-md-12">
														<div class="row col-md-4">
															<div class="form-group">
																<label class="control-label col-md-5 col-sm-3 col-xs-12"
																	for="createby">Update By:</label> <input type="text"
																	class="form-control" id="updateby"
																	th:value="*{updateBy}" name="updateby">
															</div>
														</div>
													</div>
													<div class="row col-md-12">
														<div class="row col-md-4">

															<div class="form-group">
																<label class="control-label col-md-5 col-sm-3 col-xs-12"
																	for="createby">Create Date:</label> <input type="text"
																	class="form-control" id="createdate"
																	th:value="*{createDate}" name="createdate">

															</div>
														</div>
													</div>
													<div class="row col-md-12">
														<div class="row col-md-4">
															<div class="form-group">
																<label class="control-label col-md-5 col-sm-3 col-xs-12"
																	for="createby">Update Date:</label> <input type="text"
																	class="form-control" id="updatedate"
																	th:value="*{updateDate}" name="updatedate">
															</div>
														</div>
													</div>
													<div class="row col-md-12">
														<div class="row col-md-6 col-offset-1">
															<div class="form-group">
																<span class="col-md-3 col-sm-3"> <a
																	th:href="@{/user/edit/{id}(userId=${user.userId})}"
																	class="btn btn-warning">Edit User</a>
																</span> <span class="col-md-3 col-sm-3"> <a
																	class="btn btn-primary" th:href="@{/user}">Users
																		List</a>
																</span>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
