<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Role | IssueTracking</title>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			page content
			<div class="right_col" role="main" layout:fragment="content">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>Role</h3>
						</div>

						<div class="title_right">
							<div
								class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Search for..."> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										Detail Role Information <small>Detail Role</small>
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false"><i
												class="fa fa-wrench"></i></a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#">Settings 1</a></li>
												<li><a href="#">Settings 2</a></li>
											</ul></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="container">
										<form class="form-horizontal" th:action="@{/roles/edit}" th:method="put">
											<div class="form-group" th:object="${role}">
												<label class="control-label col-sm-2" for="roleid">Role ID:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="roleid" th:value="*{roleid}" name="roleid" readonly>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="role">Role:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="role"
														th:value="${role.role}" name="role" >
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="createby">Create By:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="createby"
														th:value="${role.createby}" name="createby" >
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="createby">Update By:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="updateby"
														th:value="${role.updateby}" name="updateby" >
												</div>
											</div>
												<div class="form-group">
												<label class="control-label col-sm-2" for="createby">Create Date:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="createdate"
														th:value="${role.createdate}" name="createdate" >
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="createby">Update Date:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="updatedate"
														th:value="${role.updatedate}" name="updatedate" >
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-1 col-sm-4">
													 <input class="btn btn-primary btn-sm" type="submit" value="Update" />										
													<a class="btn btn-default btn-sm" th:href="@{/roles}">Roles List</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		/page content
	</div>
</body>
</html>
